<form>
<mat-toolbar color="accent">
<mat-toolbar-row>
<span class="center">Forgot password</span>
</mat-toolbar-row>
</mat-toolbar>
<div class="c1">
<div class="example-container">
 <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your E-mail id" [formControl]="email"required >
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<section>
  <div class="example-button-row">
  <button mat-stroked-button color="warn"(click)="getotp()">Cancel</button>&nbsp;
  <button mat-stroked-button color="primary" (click)="getotp()">Get OTP</button>
   </div>
</section>
</div>
</form>
