.example-container .mat-form-field  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
.example-button-row{
  display: flex;
  width: 100%;
  justify-content: center;
}
.c1{
  margin-top: 10%;
}
.center{
  display: flex;
  width: 100%;
  justify-content: center;
}
